@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import "mixins";
* {
  font-family: "Lato", sans-serif;
}

.box {
  background-image: url(../images/1.png);
  @include backgroundImage;
  padding: 5rem;
  &--logo {
    display: flex;
    margin: 7rem auto 3rem auto;
  }
  & h1 {
    @include h1;
    max-width: 550px;
  }
  & p {
    @include text-header;
    max-width: 550px;
    margin: 1rem auto;
  }
  &--scroll {
    display: flex;
    margin: 12rem auto 1rem auto;
  }
}

main {
  width: 100%;
  & .first-box {
    padding: 5rem;
    & h2 {
      display: flex;
      justify-content: center;
      margin: 0rem auto;
      @include h2;
      position: relative;
      top: 1.1rem;
      background-color: #ffffff;
      max-width: 420px;
    }
    &--container {
      border: 2px solid #3c3c3c;
      text-align: center;
      max-width: 900px;
      margin: 0px auto;
      padding: 4rem 8rem 2rem 8rem;
      & p {
        margin-bottom: 2rem;
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;
        color: #3c3c3c;
      }
    }
  }
  & .second-box {
    padding: 5rem;
    background-image: url(../images/2.png);
    @include backgroundImage;
    & h2 {
      @include h2;
      color: #ffffff;
      display: flex;
      justify-content: center;
      position: relative;
      top: 1.1rem;
      &:before {
        margin: 0rem 8rem 1rem 0rem;
        display: flex;
        content: "";
        width: 15.3rem;
        border-bottom: 2px solid #ffffff;
      }
      &:after {
        margin: 0rem 0rem 1rem 8rem;
        display: flex;
        content: "";
        width: 15.3rem;
        border-bottom: 2px solid #ffffff;
      }
    }
    &--container {
      width: 80rem;
      border: 2px solid #ffffff;
      border-top: unset;
      text-align: center;
      max-width: 900px;
      margin: 0px auto;
      padding: 4rem 8rem 2rem 8rem;
      & p {
        @include text;
        color: #ffffff;
      }
    }
  }
  & .third-box {
    padding: 5rem;
    & h2 {
      display: flex;
      justify-content: center;
      margin: 0rem auto;
      @include h2;
      position: relative;
      top: 1.1rem;
      background-color: #ffffff;
      max-width: 420px;
    }
    &--container {
      border: 2px solid #3c3c3c;
      text-align: center;
      max-width: 900px;
      margin: 0px auto;
      padding: 8rem 8rem 6rem 8rem;
      & h3 {
        @include h3;
        margin: 2rem;
      }
      & p {
        @include text;
        margin-bottom: 5rem;
        &:last-child {
          margin-bottom: 0rem;
        }
      }
    }
  }
  & .four-box {
    display: flex;
    flex-wrap: wrap;
    & div {
      width: 29.2%;
      padding: 6rem 2rem 2rem 2rem;
      margin: 0rem 0.25rem 0.5rem 0.25rem;
      @include h2;
      color: #ffffff;
    }
    &--1 {
      background-image: url(../images/3.png);
      @include backgroundImage;
    }
    &--2 {
      background-image: url(../images/4.png);
      @include backgroundImage;
      width: 40% !important;
    }
    &--3 {
      background-image: url(../images/5.png);
      @include backgroundImage;
    }
    &--4 {
      background-image: url(../images/6.png);
      @include backgroundImage;
    }
    &--5 {
      background-image: url(../images/7.png);
      @include backgroundImage;
      width: 40% !important;
    }
    &--6 {
      background-image: url(../images/8.png);
      @include backgroundImage;
    }
  }
  & .fifth-box {
    padding: 5rem;
    & h2 {
      display: flex;
      justify-content: center;
      margin: 0rem auto;
      @include h2;
      position: relative;
      top: 1.1rem;
      background-color: #ffffff;
      max-width: 420px;
    }
    &--container {
      border: 2px solid #3c3c3c;
      text-align: center;
      max-width: 850px;
      margin: 0px auto;
      padding: 5rem 8rem 1rem 8rem;
      & p {
        @include text;
        font-size: 16px;
      }
      & a {
        font-size: 16px;
        text-transform: uppercase;
        display: flex;
        text-decoration: none;
        justify-content: center;
        color: #ffffff;
        background-color: #3c3c3c;
        padding: 2% 10%;
        width: max-content;
        margin: 2rem auto;
        &:hover {
          background-color: #a19999;
        }
      }
    }
  }
}